<h1>Street View</h1>

<div id="street_view"></div>

<script type="text/javascript">
var panorama;
function initialize() {
  panorama = new google.maps.StreetViewPanorama(
    document.getElementById('street_view'),
    {
      position: {lat: <%= @pitch.latitude %>, lng: <%= @pitch.longitude %>},
      pov: {heading: 0, pitch: 0},
      zoom: 1
    });
}
</script>

<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH1Nw9chGoRMKXeviLn3ox6OoF1A8FhFk&callback=initialize">
</script>